name: Validate config

on: [pull_request]

permissions:
  contents: read

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Validate config
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /config.schema.json
          INPUT_JSONS: /config.json
