name: Validate config

on: [pull_request]

permissions:
  contents: read

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Validate config
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /config.schema.json
          INPUT_JSONS: /config.json
