name: Validate config

on: [pull_request]

permissions:
  contents: read

jobs:
  verify-json-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Validate config
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: /config.schema.json
          INPUT_JSONS: /config.json
